{% extends "base.html" %}
 
{% block body %} 

<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿The first rule of Swimclub is that we don't talk about Swimclub.︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵Choose your <a href="/swimmers">swimmer</a>!‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵ヽ(°□° )ノ‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿ヽ( °□°)ノ‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿ヽ(°□°)ノ︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>
<p>‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿</p>

{% endblock %}